﻿@model CANTEEN.Models.SANPHAM

@{
    ViewBag.Title = "ThemSP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Thêm món mới</title>

    <!-- Custom fonts for this template-->
    <link href="/Assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="/Assets/https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">


    <!-- Custom styles for this template-->
    <link href="/Assets/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="~/Assets/css/Style.css" rel="stylesheet">

</head>

<body>



    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal-themmon">
            <div class="textsp"><h2>Thêm sản phẩm</h2></div>

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.MASP, new { htmlAttributes = new { @class = "form-themmon", @placeholder = "Nhập mã sản phẩm" } })
                    @Html.ValidationMessageFor(model => model.MASP, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.TENSP, new { htmlAttributes = new { @class = "form-themmon", @placeholder = "Nhập tên sản phẩm" } })
                    @Html.ValidationMessageFor(model => model.TENSP, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.GIA, new { htmlAttributes = new { @class = "form-themmon", @placeholder = "Nhập giá sản phẩm" } })
                    @Html.ValidationMessageFor(model => model.GIA, "", new { @class = "text-danger" })
                </div>
            </div>








            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Thêm món vào hệ thống" class="btn-add" />
                </div>

                <div class="col-md-offset-2 col-md-10">
                    <label>@ViewBag.Sanpham</label>
                </div>


            </div>
        </div>
    }


    </div>
    </div>
    </div>

</body>
</html>

