﻿.dk {
    color: white;
    background-color: rgb(0, 255, 128);
    border-radius: 0.25rem;
    padding: 0.25rem;
}

    .dk:hover {
        text-decoration: none;
        color: black;
    }

.del {
    float: left;
    background-color: red;
    padding: 0.5rem;
    color: white;
    border-top-right-radius: 1rem;
}

.edi {
    float: left;
    background-color: rgb(78,115,223);
    padding: 0.5rem;
    color: white;
    border-bottom-left-radius: 1rem;
}

.suc {
    text-align: left;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    padding-left: 5px;
    font-family: Arial;
}


.formdk {
    margin-left: 9rem;
    margin-bottom: 0.5rem;
}

.btndk {
    margin-top: 0.5rem;
    margin-left: 38%;
    /* background-color: rgb(78,115,223);
    float: left;*/
    width: 25%;
    background-color: rgb(78,115,223);
    border:1px solid white;
    border-radius:0.5rem;
    font-size:1.3rem;
    color:#ffffff;
}

.btn btn-default {
    color: white;
}

.form-dk {
    border-radius: 0.5rem;
    width: 80%;
    margin-left: 7rem;
    margin-bottom: 2.5rem;
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: white;
    background-clip: padding-box;
    border: 1px solid rgb(78,115,223);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
a{
    text-decoration:none;
    color:white;
    
}

    a:hover {
        text-decoration: none;
        color:black;
    }

.form-themmon {
    border-radius: 10rem;
    width: 55%;
    margin-left: 15rem;
    margin-bottom:2.5rem;
    display: block;
    
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: white;
    background-clip: padding-box;
    border: 1px solid rgb(78,115,223);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}
.btn-add {
    margin-top: 0.5rem;
    margin-left: 35%;
    /* background-color: rgb(78,115,223);
    float: left;*/
    width: 57%;
    background-color: rgb(78,115,223);
    border: 1px solid white;
    border-radius: 1rem;
    font-size: 1.3rem;
    color:white;
    
   

}
.form-horizontal-themmon {
    border: 5px solid rgb(78,115,223);
    width:80%;
    margin-left:10%;
    height:23rem;
}

.textsp{
    margin-top:0.5rem;
    margin-left:2rem;
    
}

.form-horizontal-dk {
    border: 5px solid rgb(78,115,223);
    width: 70rem;
    margin-left: 0rem;
    height: 100%;
    margin-bottom:10rem;
}
.topbar.navbar-light .navbar-nav .nav-item .nav-link {
    color: black;
}
    .topbar.navbar-light .navbar-nav .nav-item .nav-link:hover {
        color: black;
        text-decoration:none;
    }
.form-horizontal-nhanvien {
    border: 5px solid rgb(78,115,223);
    width: 70rem;
    margin-left: 0;
    height: 100%;
    margin-bottom: 10rem;
}
a.nav-link.dropdown{
    color:black;
}

.form-nv {
    border-radius: 1rem;
    width: 80%;
    margin-left: 7rem;
    margin-bottom: 2.5rem;
    
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: white;
    background-clip: padding-box;
    border: 1px solid rgb(78,115,223);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-nv {
    margin-top: 0.5rem;
    margin-left: 50%;
    /* background-color: rgb(78,115,223);
    float: left;*/
    width: 25%;
    background-color: rgb(78,115,223);
    border: 1px solid white;
    border-radius: 0.5rem;
    font-size: 1.3rem;
    color: #ffffff;
}
.text-nv{
    margin-top:1rem;
}
.text-xn {
    color: rgb(78,115,224);
    font-weight:bold;
    margin-left:1rem;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    background-color:red;
    color:black;
}
 