﻿@model IEnumerable<CANTEEN.Models.CHITIETXN_Result>

@{
    ViewBag.Title = "ListNhapXuat";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Tables</title>

    <!-- Custom fonts for this template -->
    <link href="~/Assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/Assets/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="~/Assets/css/Style.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="~/Assets/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <!-- Main Content -->
    <div id="content">
        <!-- End of Topbar -->
        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <p>
                    <h6 class="text-xn">Chi tiết xuất nhập</h6>
                </p>
                <div class="card-header py-3">


                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <tr>
                                <th>
                                    NGÀY
                                </th>
                                <th>
                                    SẢN PHẨM
                                </th>
                                <th>
                                    NHÂN VIÊN
                                </th>
                                <th>
                                    SỐ LƯỢNG
                                </th>
                                <th>
                                    HÌNH THỨC
                                </th>
                                <th>
                                    GIÁ TIỀN
                                </th>

                            </tr>
                            @foreach (var item in (IEnumerable<CANTEEN.Models.CHITIETXN_Result>)ViewData["Items"])
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NG_XN)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TENSP)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TENNV)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SL)
                                    </td>
                                    <td>
                                        <select class="tri-state list-box" disabled="disabled"><option value="">Hình thức</option><option selected="selected" value="true">Nhập</option><option value="false">Xuất</option></select>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GIATIEN) VND
                                    </td>

                                </tr>
                            }

                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->
    <!-- Footer -->
    <!-- End of Footer -->



</body>

</html>

