﻿@model CANTEEN.Models.CT_XN

@{
    ViewBag.Title = "Nhanvien";
    Layout = "~/Views/Shared/_layout2.cshtml";
}


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Đăng nhập</title>

    <!-- Custom fonts for this template-->
    <link href="~/Assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Assets/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="~/Assets/css/Style.css" rel="stylesheet">



    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal-nhanvien">
            <div class="text-nv"><h2>Nhân viên</h2></div>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MASP, new { htmlAttributes = new { @class = "form-nv" , @placeholder="Nhập mã sản phẩm"} })
                    @Html.ValidationMessageFor(model => model.MASP, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
              
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MANV, new { htmlAttributes = new { @class = "form-nv", @placeholder = "Nhập mã nhân viên của bản" } })
                    @Html.ValidationMessageFor(model => model.MANV, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
              
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NG_XN, new { htmlAttributes = new { @class = "form-nv", @placeholder = "Nhập ngày" } })
                    @Html.ValidationMessageFor(model => model.NG_XN, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
               
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SL, new { htmlAttributes = new { @class = "form-nv", @placeholder = "Nhập số lượng" } })
                    @Html.ValidationMessageFor(model => model.SL, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                
                <div class="col-md-10">
                   
                    <select class="form-nv list-box tri-state" id="X_N" name="X_N" placeholder="Chọn hình thức">
                        <option selected="selected" value="">Hình thức</option>
                        <option value="true">Nhập</option>
                        <option value="false">Xuất</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Tiến hành" class="btn-nv" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
