﻿@model CANTEEN.Models.NHANVIEN

@{
    ViewBag.Title = "Dangki";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="~/Assets/css/Style.css" rel="stylesheet">

    <title>Đăng kí nhân viên</title>


</head>
<body>
    


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal-dk">
        <div class="textsp"><h2>Đăng kí nhân viên</h2></div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="formdk"><a>Mã nhân viên</a></div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.MANV, new { htmlAttributes = new { @class = "form-dk" } })
                @Html.ValidationMessageFor(model => model.MANV, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="formdk"><a>Tài khoản</a></div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TENTK, new { htmlAttributes = new { @class = "form-dk" } })
                @Html.ValidationMessageFor(model => model.TENTK, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="formdk"><a>Mật khẩu</a></div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.MATKHAU, new { htmlAttributes = new { @class = "form-dk" } })
                @Html.ValidationMessageFor(model => model.MATKHAU, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="formdk"><a>Nhập lại mật khẩu</a></div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.REMATKHAU, new { htmlAttributes = new { @class = "form-dk" } })
                @Html.ValidationMessageFor(model => model.REMATKHAU, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="formdk"><a>Tên nhân viên</a></div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TENNV, new { htmlAttributes = new { @class = "form-dk" } })
                @Html.ValidationMessageFor(model => model.TENNV, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="formdk"><a>Số điện thoại</a></div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-dk" } })
                @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="formdk"><a>Địa chỉ</a></div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.DIACHI, new { htmlAttributes = new { @class = "form-dk" } })
                @Html.ValidationMessageFor(model => model.DIACHI, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="btn-dk">
                <input type="submit" value="Đăng kí" class="btndk" />
            </div>
        </div>
    </div>
    }
</body>
</html>





