﻿@model IEnumerable<CANTEEN.Models.NHANVIEN>

@{
    ViewBag.Title = "DanhsachNV";
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Tables</title>

    <!-- Custom fonts for this template -->
    <link href="~/Assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/Assets/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="~/Assets/css/Style.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="~/Assets/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <!-- Main Content -->
    <div id="content">
        @if (TempData["Dangkithanhcong"] != null)
        {
            <div class="suc">
                <Strong>@TempData["Dangkithanhcong"]</Strong>
            </div>
        }

        <!-- End of Topbar -->
        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3" ">
                    <h6 class="m-0 font-weight-bold text-primary" style="float:left;" ">Danh sách nhân viên</h6>
                    <div style="text-align: right"><a class="dk" href="~/Home/Dangki">Đăng kí nhân viên</a></div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <tr>
                                <th>
                                    Mã nhân viên
                                </th>
                                <th>
                                    Tài khoản
                                </th>
                                <th>
                                    Mật khẩu
                                </th>
                                <th>
                                    Tên nhân viên
                                </th>
                                <th>
                                    Số điện thoại
                                </th>
                                <th>
                                    Địa chỉ
                                </th>
                                <th>
                                    Chức năng
                                </th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MANV)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TENTK)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MATKHAU)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TENNV)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SDT)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DIACHI)
                                    </td>
                                    <td>
                                        <div class="edi"><a>@Html.ActionLink("Sửa", "Sua", new { id = item.MANV.Trim().ToString() })</a></div>

                                        <div class="del"><a>@Html.ActionLink("Xóa", "Xoa", new { id = item.MANV.Trim().ToString() })</a></div>    
                                        



                                    </td>



                                </tr>
                            }

                        </table>

                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->
    <!-- Footer -->
    <!-- End of Footer -->



</body>

</html>
